body {
  margin: 0;
  padding: 0;
}

.main {
  width: 100vw;
  height: 100vh;

  font-family: "Quicksand", sans-serif;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.logo {
  justify-self: center;
  grid-column-start: 3;
  grid-column-end: 5;
  margin-bottom: 50px;
}

.PirmaisSt {
  justify-self: center;
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 5;
}
.OtraisSt {
  justify-self: center;
  grid-row: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}
.TresaisSt {
  justify-self: center;
  grid-row: 4;
  grid-column-start: 3;
  grid-column-end: 5;
}
.CeturtaisSt {
  justify-self: center;
  grid-row: 5;
  grid-column-start: 3;
  grid-column-end: 5;
}
.PiektaisSt {
  justify-self: center;
  grid-row: 6;
  grid-column-start: 3;
  grid-column-end: 5;
}

.button {
  background-color: #085454;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-family: "Raedex Pro", sans-serif;
  padding: 15px 100px 15px;
  margin: 10px;
  border-radius: 1em;
  border: none;
  outline: none;
}

.button:hover {
  background-color: #064141;
}

.background-rtu-main {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0.3;
  justify-self: center;
  align-self: center;
  object-fit: cover;
}
