body {
  padding: 0;
  margin: 0;
}
li{
  font-size: 22px;
  font-weight: bold;
}

.container-3 {
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 80px repeat(29, 1fr) * 100px;
}

.header-3 {
  grid-row: 1;
  grid-column: 1 / span 7;

  background-color: #085454;
  width: 100vw;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  margin-top: 0px;
  justify-content: center;
  box-sizing: border-box;
}

.title-3 {
  justify-self: center;
  align-self: center;
  grid-row: 1;
  grid-column: 4 / span 1;
}

.back-3 {
  grid-column: 1;
  padding: 0;
  align-self: center;
}

.backbut-3 {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.image3st {
  height: 100%;
  width: 100%;
  grid-column: 3 / span 3;
  grid-row: 3 / span 4;
}

.centerContent-3 {
  grid-column: 1 / span 7;
  grid-row: 8 / span 3;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.title-3st-300 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  font-size: 40px;
}

.kab3st-300 {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 1 / span 3;
}

.parag-300 {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
}

.centerContent2-3 {
  grid-column: 1 / span 7;
  grid-row: 12 / span 3;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.title-3st-310 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  font-size: 40px;
}

.kab3st-310 {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 1 / span 3;
}

.parag-310 {
  grid-column: 3 /span 2;
  grid-row: 2 / span 1;
}

.centerContent3-3 {
  grid-column: 1 / span 7;
  grid-row: 16 / span 3;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.title-3st-313 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  font-size: 40px;
}

.kab3st-313 {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 1 / span 3;
}

.parag-313 {
  grid-column: 3 /span 2;
  grid-row: 2 / span 1;
}

.centerContent4-3 {
  grid-column: 1 / span 7;
  grid-row: 19 / span 3;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.title-3st-318 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  font-size: 40px;
}

.kab3st-318 {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 1 / span 3;
}

.parag-318 {
  grid-column: 3 /span 2;
  grid-row: 2 / span 1;
}

.centerContent5-3 {
  grid-column: 1 / span 7;
  grid-row: 23 / span 3;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.title-3st-338 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  font-size: 40px;
}

.kab3st-338 {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 1 / span 3;
}

.parag-338 {
  grid-column: 3 /span 2;
  grid-row: 2 / span 1;
}

.centerContent6-3 {
  grid-column: 1 / span 7;
  grid-row: 26 / span 3;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.title-3st-340 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  font-size: 40px;
}

.kab3st-340 {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 1 / span 3;
}

.parag-340 {
  grid-column: 3 /span 2;
  grid-row: 2 / span 1;
}

.centerContent7-3 {
  grid-column: 1 / span 7;
  grid-row: 29 / span 3;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.title-3st-342 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  font-size: 40px;
}

.kab3st-342 {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 1 / span 3;
}

.parag-342 {
  grid-column: 3 /span 2;
  grid-row: 2 / span 1;
}

.background-rtu-3 {
  position: fixed;
  z-index: -1;
  opacity: 0.3;
  justify-self: center;
  align-self: center;
}
